.signup
{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    max-width: 600px;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
    transition: all 0.3s ease; 
    flex-direction: column;  
    text-decoration: none;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(80,0,120,0.18), 0 0 0 4px #a78bfa33;
    width: 800px;  
    height: 500px;
}

.login {
    margin-top: 80px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    max-width: 600px;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
    transition: all 0.3s ease;
    flex-direction: column;
    text-decoration: none;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(80,0,120,0.18), 0 0 0 4px #a78bfa33;
    width: 800px;
    height: 500px;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family:  sans-serif;
  background: linear-gradient(135deg, rgb(31, 32, 33) 0%, #a381e8 100%);
}

.signup h1 {
    margin-bottom: 40px;
    color: #730082dc;
}

.form-control {
    border: 2px inset #730082b9;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
}

.btn-block {
    width: 100%;
    padding: 10px;
    background-color: #730082dc;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-block:hover {
    background-color: #5c0066;
}
